<div class="calendario-checkbox-container">
    <div class="calendario-container">
        <p-calendar 
            class="max-w-full"
            [id]="rendaId" 
            (onSelect)="onSelecionaData($event)"
            [disabledDates]="disabledDates"
            [(ngModel)]="data" 
            [inline]="true" 
            [showWeek]="true"
            dateFormat="dd/mm/yy" 
            [showButtonBar]="true" 
            [minDate]="minDate" 
            [maxDate]="maxDate">
        </p-calendar>
    </div>
    <div class="calendario-container">
        <div *ngFor="let linha of matrizDeStrings ; let i = index" class="checkbox-container">

            <div *ngFor="let valor of linha; let c = index" class="checkbox-item">
                <!--input type="checkbox" [id]="'checkbox-' + i+'_'+c" [checked]="selectedDates.includes(valor)"
                (change)="onCheckboxChange(valor)"-->
                <span >{{ valor }}|</span>
            </div>
          </div>
    </div>
</div>
  


 