<div class="login-google">
    
    <button pButton class="pi pi-google" 
            *ngIf="!logado" 
            type="button" (click)="loginWithGoogle()"
            label=" | login">
    </button>
    
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" (click)="logOut()" *ngIf="logado">
        <!-- The user image in the navbar-->
        <p-avatar image="{{photoUrl}}" class="foto" 
                *ngIf="logado" 
                shape="circle"></p-avatar>
        <!-- hidden-xs hides the username on small devices so only the image appears. -->
        <span class="hidden-xs">{{nome}}</span>
    </a>
</div>
